<launch>
    <node pkg="ros_proj" type="ros_proj" name = "carNode" args="45.621750 9.281561 224.118473 /swiftnav/front/gps_pose carENU" output="screen"/>
    <node pkg="ros_proj" type="ros_proj" name = "obsNode" args="45.621750 9.281561 224.118473 /swiftnav/obs/gps_pose obsENU" output="screen"/>
    <node pkg="ros_proj" type="filter" name = "filterNode" output="screen"/>
    <node pkg="ros_proj" type="server" name = "serverNode" output="screen"/>
    <node pkg="ros_proj" type="tfPrint" name = "carTf" args="/carENU" output="screen"/>
    <node pkg="ros_proj" type="tfPrint" name = "obsTf" args="/obsENU"  output="screen"/>
    <node pkg="rviz" type="rviz" name = "tfRviz" args ="-d $(find ros_proj)/rviz/tfRviz.rviz"/>
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name = "dynaConf"/>

</launch>
